@import url("https://fonts.googleapis.com/css2?family=Neonderthaw&family=Red+Hat+Display&family=Sedgwick+Ave&display=swap");

.App {
  margin: auto;
  padding-top: 0.2rem;
  padding-bottom: 2rem;
  border-radius: 25px;
  text-align: center;
  width: 100%;
  background-color: #21064b;
  box-shadow: 2px 2px 30px 1px rgba(237, 37, 78, 0.2);
}

.map-container {
  margin: 2rem auto;
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-family: "Neonderthaw", cursive;
  color: #faf443;
  text-shadow: /* 0 0 10px #f9bec7,*/ 0 0 21px #fff,
    /*0 0 42px #f9bec7,*/ 0 0 82px #faf443;
  font-size: 3rem;
}

h3 {
  font-family: "Sedgwick Ave", cursive;
  color: #faf443;
  font-size: 1.2rem;
}

p {
  line-height: 0.7rem;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}
