@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&family=Red+Hat+Display&display=swap');

* {
	box-sizing: border-box;
}

body {
	align-items: center;
	background-color: #250b48;
	color: #fff;
	display: flex;
	font-family: 'Red Hat Display',
		sans-serif;
	justify-content: center;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo,
		Monaco, Consolas, 'Courier New',
		monospace;
}

#root {
	width: 65%;
}
